

html {
    font-size: 14px;
    color: #3a4359;
    background: #f7f8fc;
    font-weight: 500;
}

p{
    font-weight: 400;
}
.uk-iconnav > * {
    padding-left: 15px;
}
.uk-label {
    text-transform: none;
}

.uk-color-white{
    color: #fff;
}

.uk-card-primary.uk-card-body .uk-label.uk-empty{
    font-weight: 300;
    color: #fff;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: transparent;
    border-radius: 15px;
    font-size: 0.8rem;
}

[class^="uk-opacity-"], [class*=" uk-opacity-"]{
    transition: 0.2s opacity;
}
[class^="uk-opacity-"]:hover, [class*=" uk-opacity-"]:hover{
    opacity: 1;
}

.uk-opacity-medium{
    opacity: 0.7;
}
.header-user-name{
    line-height: 1.2;
    text-align: left;
}
.header-user-role{
    color: #959595;
    font-weight: 400;
}
.cursor-default{
    cursor: default;
}

.uk-opacity-large{
    opacity: 0.4;
}

.uk-alert {
    color: #fff;
    border-radius: 3px;
}

.uk-alert-success {
    background-image: linear-gradient(0deg, #34AA44 0%, #38B249 100%);
}

.uk-alert-danger {
    background-image: linear-gradient(0deg, #e6492d 0%, #df563d 100%);
}

.dashboard-sidebar {
    width: 300px;
    color: #fff;
    background: #000638;
}

.dashboard-main{
    padding-left: 0;
}

.dashboard-sidebar [class^="icon-"]::before,
.dashboard-sidebar [class*=" icon-"]::before {
    font-size: 16px;
}

.dashboard-sidebar li {
    margin-bottom: 12px;
}

.dashboard-sidebar-header {
    font-weight: 600;
    font-size: 16px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dashboard-sidebar-header__img{
    display: none;
}
.uk-nav-header {
    padding: 5px 15px;
}

.dashboard-sidebar-menu {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.uk-nav-primary .uk-nav-sub a {
    color: #fff;
    font-size: 13px;
}

ul.uk-nav-sub {
    padding: 5px 0 5px 25px;
}

.uk-nav-primary > li > a {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #aeb1c6;
    padding: 8px 15px;
    border-radius: 3px;
    font-weight: 500;
}

.uk-nav-primary .uk-nav-sub li > a {
    color: #aeb1c6;
    font-weight: 500;
    font-size: 0.9rem;
}

.uk-nav-primary > li.uk-active > a {
    background: #171c4a;
}

.uk-button {
    text-transform: none;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s all;
    border-radius: 3px;
}

.uk-button-primary {
    background-color: #38B249;
    border-bottom: 2px solid #2D953B;
}

.uk-button-danger {
    background-color: #ee6b6a;
    border-bottom: 2px solid #dd2b29;
}

.uk-button-primary:hover,
.uk-button-primary:active,
.uk-button-primary:focus {
    background-color: #319B40;
}
.uk-button-default:disabled, .uk-button-primary:disabled, .uk-button-secondary:disabled, .uk-button-danger:disabled {
    background-color: transparent;
    color: #999;
    border-color: #e5e5e5;
}
ul.uk-nav-sub li {
    margin-bottom: 9px;
}

.uk-nav-primary .uk-nav-sub li > a {
    border-bottom: 1px solid transparent;
    display: inline;
    position: relative;
}

.uk-nav-primary .uk-nav-sub li > a:hover {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.uk-nav-primary .uk-nav-sub li.uk-active > a {
    color: #6ea9ff;
    border-color: #1665d8;
    line-height: 1;
}

.uk-card-default {
    border-radius: 8px;
}

.button-unstyled {
    background: transparent;
    border: 0;
    cursor: pointer;
}

h1, .uk-h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

.uk-card-body {
    padding: 20px 30px;
}

.dashboard-content {
    padding: 30px;
}

.uk-table {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
}

.uk-table th {
    text-transform: none;
    font-size: 15px;
    font-weight: 300;
    color: #606a7b;
    padding: 16px 25px;
    border-bottom: 1px solid #EAEDF3;
}

.uk-table td {
    padding: 16px 25px;
    border-bottom: 1px solid #EAEDF3;
}

.uk-table tbody > tr:last-child td {
    border-bottom: 0;
}

.header-user-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px 60px 10px 30px;
}

.header-user:hover .header-user-button {
    background: rgba(0, 0, 0, 0.05);
}

.header-user-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    margin-right: 10px;
    background-color: #1665d8;
    color: #fff;
    font-weight: 600;
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.07);
    padding: 0 0 0 30px;
    background-color: #fff;
}

.header-links .nav-link {
    color: #222;
    display: flex;
    align-items: center;
    padding: 15px 60px 15px 30px;
}

.header-links .nav-link:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);
}

/* Эффект волны */
.ripple {
    position: relative;
    overflow: hidden;
}

.ripple-effect {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    animation: ripple 1s ease forwards;
    z-index: 1;
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(100);
    }
}

.statblock {
    display: block;
}

.statblock:hover {
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.statblock__title {
    color: #111;
}

.statblock__number {
    font-size: 30px;
    font-weight: 900;
}

.login-form {
    height: 100vh;
    overflow: hidden;
}

.login-info {
    background: linear-gradient(180deg, #53B5FE 0%, #0686E6 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form__title {
    font-size: 24px;
    color: #00b0ff;
    font-weight: 900;
}

.login-form h1 {
    font-weight: 700;
    color: #192135;
    font-size: 33px;
}

.login-form__text {
    color: #808DA4;
    font-size: 14px;
    font-weight: 400;
}

.help-offset-button {
    cursor: pointer;
    padding-right: 1px;
    border: 1px solid;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
    font-size: 14px;
}

.uk-background-default tbody tr:hover {
    background-color: #e9f3ff;
}

#client-list {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.20);
    z-index: 2;
    padding: 10px 0;
}
.client-company{
    padding: 6px 20px;
    cursor: pointer;
    font-size: 13px;
}
.client-company:hover{
    background-color: #e9f3ff;
}

/*SMALL SIDEBAR*/
body.sidebar-show .dashboard-sidebar{
    width: 130px;
}
body.sidebar-show .uk-nav-primary > li > a{
    font-size: 0;
    text-align: center;
}
body.sidebar-show ul.uk-nav-sub{
    background-color: #0d1342;
    padding: 12px 11px 5px;
}
body.sidebar-show .uk-nav-primary .uk-nav-sub li{
    line-height: 1.2;
}
body.sidebar-show .uk-nav-primary .uk-nav-sub li > a {
    font-size: 0.8rem;
}
body.sidebar-show .uk-padding-small {
    padding: 15px 0;
}
body.sidebar-show ul.uk-nav li.uk-parent{
    position: relative;
}
body.sidebar-show ul.uk-nav.uk-open li.uk-parent{
    background: rgba(255, 255, 255, 0.05);
}
body.sidebar-show #sidebar-click{
    width: 50px;
}
body.sidebar-show .dashboard-sidebar-header{
    justify-content: space-around;
}
#sidebar-click{
    cursor: pointer;
}
body.sidebar-show .dashboard-sidebar-header{
    padding: 20px 10px;
    font-size: 13px;
    text-align: center;
}
body.sidebar-show .dashboard-sidebar-header__text{
    display: none;
}
body.sidebar-show .dashboard-sidebar-header__img{
    display: block;
}
/*END SMALL SIDEBAR*/

.client-list-access-info p{
    margin: 5px 0;
}
.tournament-icon svg{
    width: 25px;
    fill: #aeb1c6;
}
.tournament-icon {
    font-size: 0.7rem;
}
.tournament-list .uk-iconnav > * > a{
    font-size: 12px;
}
body.sidebar-show .uk-nav-primary > li > a .tournament-icon{
    font-size: 0.9rem;
}

.card-green{
    background-color: #40b52f;
}
.uk-card-button {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
}
.uk-table-without-shadow{
    box-shadow: none;
}
.square-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    padding: 2px 0 0 0;
    background-color: transparent;
    border-radius: 100%;
    border: 1px dashed #868686;
    padding-left: 3px;
}
.square-button svg{
    width: 15px;
    height: 15px;
}
body.sidebar-show .uk-nav-primary a .tournament-icon{
    margin: 0 auto !important;
}
.icon-red svg{
    color: #ff1c1c;
}
.icon-green svg{
    color: #38b249;
}


/*SWITCH*/
.uk-switch {
    position: relative;
    display: inline-block;
    height: 23px;
    width: 41px;
}

/* Hide default HTML checkbox */
.uk-switch input {
    display:none;
}
/* Slider */
.uk-switch-slider {
    background-color: rgba(0,0,0,0.22);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 500px;
    bottom: 0;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .2s;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.07);
}
/* Switch pointer */
.uk-switch-slider::before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0px;
    bottom: 1px;
    border-radius: 50%;
    transition-property: transform, box-shadow;
    transition-duration: .2s;
}
/* Slider active color */
input:checked + .uk-switch-slider {
    background-color: #39f !important;
}
/* Pointer active animation */
input:checked + .uk-switch-slider:before {
    transform: translateX(26px);
}

/* Modifiers */
.uk-switch-slider.uk-switch-on-off {
    background-color: #f0506e;
}
input:checked + .uk-switch-slider.uk-switch-on-off {
    background-color: #32d296 !important;
}

/* Style Modifier */
.uk-switch-slider.uk-switch-big:before {
    transform: scale(1.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
.uk-switch-slider.uk-switch-small:before {
    box-shadow: 0 0 6px rgba(0,0,0,0.22);
}
input:checked + .uk-switch-slider.uk-switch-big:before {
    transform: translateX(19px) scale(1.2);
}

/* Inverse Modifier - affects only default */
.uk-light .uk-switch-slider:not(.uk-switch-on-off) {
    background-color: rgba(255,255,255,0.22);
}
/*END SWITCH*/

.players-list-scrollable{
    max-height: 350px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.round-label {
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1665d8;
    font-size: 21px;
    font-weight: 700;
}
.manage-tournament-clock #clock{
    font-size: 2.5rem;
    display: flex;
}
.manage-tournament-clock #clock > *{
    padding: 0 7px;
}
.manage-tournament-clock__manage  a.tournament-start svg{
    width: 40px;
}
.manage-tournament-clock{
    margin: 30px 0 !important;
}
.he85{
    height: 85px;
}
.he50{
    height: 50px;
}
.prize-element{
    display: flex;
    align-items: center;
}

.uk-card-primary{
    background-image: url("/img/card-back.png");
    background-size: cover;
    background-position: 100% 100%;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.40);
}
.card-small-title{
    font-weight: 100;
    color: #fff;
    opacity: 0.7;
}
.card-small-value{
    font-weight: 400;
    color: #fff;
    font-size: 1.1rem;
}
.uk-card-primary > :not([class*="uk-card-media"]){
    color: #fff;
}
.card-date__month{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}
.card-date__date{
    font-size: 27px;
    font-weight: 300;
    line-height: 0.9;
}
.manage-panel .card-date{
    padding-right: 25px;
    border-right: 1px solid rgba(255,255,255,0.7);
    margin-right: 25px;
}
.tournament-list .card-date{
    padding-right: 25px;
    border-right: 1px solid rgba(255,255,255,0.7);
    margin-right: 25px;
}
.tournament-list .card-element h3{
    font-weight: 300;
    font-size: 1.4rem;
}
.tournament-list .card-element a{
    display: block;
}
.tournament-list{
    padding: 30px 0;
}
.tournament-list .uk-card-primary{
    transition: 0.3s all;
}
.tournament-list .uk-card-primary:hover{
    background-position: 10% 50%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.50);
}
.tournament-list .card-element a:hover{
    text-decoration: none;
}
.tournament-info{
    font-size: 16px;
}
.tournament-manage-page .card-small-value{
    font-size: 1.3rem;
}
.tournament-manage-page .uk-countdown-number {
    font-size: 2.4rem;
}

.tournament-manage-page .uk-card-primary {
    padding: 40px 40px;
}

.uk-card-primary.uk-card-body .uk-button-default, .uk-card-primary > :not([class*="uk-card-media"]) .uk-button-default{
    border-color: rgba(255, 255, 255, 0.2);
    font-weight: 300;
    background-color: #8741d547;
    border-radius: 20px;
    line-height: 3.5;
}


.uk-input, .uk-select, .uk-textarea {
    font-weight: 400;
    background: #fafafa;
}
.uk-input {
    height: 50px;
}
.uk-input:focus{
    background-color: #fff;
    border-color: #1e87f0;
}
.uk-form-label {
    color: #777;
    font-size: 0.975rem;
    font-weight: 400;
}
.blind-element .uk-card-default {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.05);
}
.uk-form-icon:not(.uk-form-icon-flip) ~ .uk-select{
    padding-left: 40px;
}
@media only screen and (min-width: 1200px) {
    .uk-padding-large-xl {
        padding: 50px;
    }
}
.uk-form-width-medium {
    width: 280px;
}
.uk-offcanvas-bar {
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.uk-offcanvas-bar {
    color: #222;
}
.uk-offcanvas-bar .uk-close {
    color: #222;
}
.uk-offcanvas-bar .uk-close:hover {
    color: #555;
}
.uk-offcanvas-bar > *,
.uk-offcanvas-bar h3 {
    color: #222;
}

#log-list .person .person__avatar{
    width: 45px;
}
.person__role{
    color: #777;
    font-weight: 300;
}
.log__time{
    color: #777;
    font-weight: 400;
}
.log__action{
    font-size: 0.9rem;
    font-weight: 400;
}
#log-list > li{
    padding: 20px 40px;
}
#log-list > li:nth-child(2n) {
    background-color: #f9f9f9;
}
#log-list .uk-label{
    font-weight: 300;
    font-size: 0.8rem;
}
#log-list .uk-label-info{
    color: #fff;
    background-color: #7d3dd1;
}
#log-list .uk-label-success {
    background-color: #35c165;
    color: #fff;
}
#log-list .uk-label-danger {
    background-color: #e15453;
    color: #fff;
}

.bordered-checkbox-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
}
.bordered-checkbox-container .uk-text-muted {
    line-height: 1.2;
    font-size: 13px;
}

#company-edit .icon-wrap {
    width: 40px;
    text-align: center;
    font-size: 11px;
}
#company-edit .uk-tab > * > a {
    text-transform: none;
}
#company-edit .uk-tab li{
    margin-bottom: 10px;
}
#company-edit .uk-tab > li:last-child {
    margin-bottom: 0;
}
.fa-icon{
    line-height: 0;
}




@media only screen and (max-width: 640px) {
    .uk-iconnav > * {
        padding-left: 15px;
    }
    .remove-absolute-on-mobile{
        position: relative !important;
        justify-content: flex-start;
    }
    .available-date .uk-label{
        font-size: 10px;
    }
    .uk-table td {
        font-size: 12px;
        padding: 15px 10px;
    }
    .uk-table th {
        font-size: 12px;
        padding: 15px 10px;
    }
    #modal-menu {
        position: fixed;
        right: 10px;
        top: 0;
        z-index: 1;
    }
    #sidenav{
        background-color: #000638;
    }
    .dashboard-sidebar-header {
        justify-content: center;
        color: #fff;
    }
    .header-user-name{
        display: none;
    }
    .header-user-button {
        padding: 10px 50px 10px 0;
    }
    .uk-navbar-nav > li > a, .uk-navbar-item, .uk-navbar-toggle {
        min-height: 60px;
    }
    h1, .uk-h1 {
        font-size: 1rem;
    }
    .dashboard-header {
        padding: 0 0 0 15px;
        margin-bottom: 20px;
    }
    .dashboard-content {
        padding: 0 15px;
    }
    .uk-search-default{
        width: 100%;
        margin-top: 15px;
    }
    .dashboard-main {
        padding-left: 30px;
    }
    html {
        font-size: 13px;
    }
}
